* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 24px;
}
.navbar-nav li a {
  font-weight: 400;
  text-align: right;
}
.fa-bars {
  color: #fff;
  font-size: 30px !important;
  text-align: center;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-toggler:focus{
    outline: none !important;
}
