* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 24px;
}
.navbar-nav li a {
  font-weight: 400;
  text-align: right;
}
.fa-bars {
  color: #fff;
  font-size: 30px !important;
  text-align: center;
}
.navbar-toggler {
  /* outline: none !important; */
  box-shadow: none !important;
  /* border: none !important; */
}
.navbar-toggler:focus {
  outline: none !important;
}

#banner {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding-top: 5%;
  color: white;
}
.banner-title {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}
.play-btn {
  width: 45px;
  margin: 10px;
}

a,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
.bottom-img {
  width: 100%;
}

#services {
  padding: 80px 0;
}
.services {
  padding: 20px;
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.service-img {
  width: 100px;
  margin-top: 20px;
}
.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
}
.title::before {
  content: "";
  width: 200px;
  height: 5px;
  background: #7b1798;
  display: block;

  margin: 0 auto;
  transform: translateY(63px);
}
.title::after {
  content: "";
  width: 50px;
  height: 10px;
  background: #7b1798;
  display: block;

  margin: 0 auto;
  margin-bottom: 40px;
  transform: translateY(8px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

#about-us {
  background: #f8f9fa;
  padding: 50px 0;
}
.about-title {
  font-size: 40px;
  margin-bottom: 8%;
  font-weight: 400;
}
#about-us ul {
  margin-left: 20px;
}
#about-us ul li {
  margin: 10px 0;
}
#testimonial {
  margin: 100px 0;
}
.testimonial {
  border-left: 4px solid #7b1798;
  margin: 50px 0;
}
.testimonial img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
.user-details {
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
}
#social-media {
  background: #f8f9fa;
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.social-icon img {
  width: 60px;
  transition: all 0.3s;
}
.social-icon img:hover {
  transform: translateY(-5px);
}
#footer {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
}
.footer-img{
  width: 100%;
}
.footer-box{
  padding: 20px;
}
.footer-box img{
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa{
  margin: 12px;
}
.footer-box .form-control{
  box-shadow: none !important;
  border: none !important;
}
.footer-box .btn-primary{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  border: none !important;
  margin-top: 10px;
  box-shadow: none !important;
}